<h1>content from users component</h1>
<div class="container">
    <!-- code from bootstrap -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of values">
                <td>{{v.name}}</td>
                <td>{{v.department}}</td>
                <td>{{v.id}}</td>
            </tr>
        </tbody>
    </table>
</div>